.App {
  text-align: center;
}

.camera {
  margin: 20px;
}

video {
  width: 320px;
  height: 240px;
  border: 1px solid black;
}

canvas {
  width: 320px;
  height: 240px;
  border: 1px solid black;
}

.result.hasPhoto canvas {
  display: block;
}

.result {
  margin-top: 10px;
}
